@model PoultryWeb.Models.InventoryItemModel

@{
    ViewBag.Title = "Create Inventory Item";
}

<h2>Create New Inventory Item</h2>

@using (Html.BeginForm("Create", "Inventory", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.ItemName, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.ItemName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ItemName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Category, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Category)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.QuantityInStock, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.QuantityInStock, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.QuantityInStock)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.UnitOfMeasure, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.UnitOfMeasure, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UnitOfMeasure)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ReorderLevel, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.ReorderLevel, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ReorderLevel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-check-input" })
                @Html.ValidationMessageFor(m => m.IsActive)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Create" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}
