@model PoultryWeb.Models.ExpenseModel

@{
    ViewBag.Title = "Edit Expense";
}

<h2>Edit Expense</h2>

@using (Html.BeginForm("Edit", "Expense", FormMethod.Post, new { id = Model.ExpenseId }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ExpenseId)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.ExpenseDate, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.ExpenseDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(m => m.ExpenseDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Category, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Category)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PaymentMethod, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.PaymentMethod, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PaymentMethod)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FlockId, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.FlockId, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FlockId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}
