@model PoultryWeb.Models.FlockModel

@{
    ViewBag.Title = "Flock Details";
}

<h2>Flock Details</h2>

<div>
    <h4>Flock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Flock ID</dt>
        <dd>@Html.DisplayFor(model => model.FlockId)</dd>

        <dt>Name</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>Breed</dt>
        <dd>@Html.DisplayFor(model => model.Breed)</dd>

        <dt>Quantity</dt>
        <dd>@Html.DisplayFor(model => model.Quantity)</dd>

        <dt>Start Date</dt>
        <dd>@Html.DisplayFor(model => model.StartDate)</dd>

        <dt>Active</dt>
        <dd>@Html.DisplayFor(model => model.Active)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
